﻿
@{
    Layout = null;
    

}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @Html.Action("PartialNavbar", "Default")

    @Html.Action("PartialAbout", "Default")

    @Html.Action("TodaysOffer", "Default")

    @Html.Action("PartialMenu", "Default")

    @Html.Action("PartialGallery", "Default")



    <!-- END section -->

    @Html.Action("PartialContact", "Default")
    <!-- END section -->

    @Html.Action("PartialFooter", "Default")

    <!-- Modal -->
    @Html.Action("PartialReservation", "Default")

    <!-- END Modal -->
    <!-- loader -->
    @Html.Action("PartialScript", "Default")


    


</body>
</html>