@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">
    @Html.Action("PartialNavbar", "Default")
    @Html.Action("PartialAbout", "Default")
    @Html.Action("TodaysOffer", "Default")
    @Html.Action("PartialMenu", "Default")
    @Html.Action("PartialGallery", "Default")
    @Html.Action("PartialContact", "Default")
    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialSubscribe", "Default")
    @Html.Action("PartialScript", "Default")
    @Html.Action("PartialReservation", "Default")
</body>
</html>
