@model List<P2_BurgerMenu.Entities.About>
<section class="site-section" id="section-about">
    <div class="container">
        <div class="row">
            @foreach (var x in Model)
            {
            <div class="col-md-5 site-animate mb-5">
                <h4 class="site-sub-title">Hikayemiz</h4>
                <h2 class="site-primary-title display-4">@x.Title</h2>
                <p>@x.MiniContent.</p>

                <p class="mb-4">@x.Content.Substring(0, Math.Min(100, x.Content.Length))...</p>
                <p><a href="#" target="_blank" data-toggle="modal"  class="btn btn-secondary btn-lg" data-target="#aboutModal">Learn More About Us</a></p>
                
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                <img src="@x.PictureURL"class="img-fluid">
            </div>
            }
        </div>
    </div>
</section>
@foreach (var x in Model)
{
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg-image" style="background-image: url(/eatwell-master/images/reservation_1.jpg);"></div>
                        <div class="site-animate img rounded-1" data-animate-effect="fadeInRight">
                            <img src="@x.PictureURL" class="img-fluid">
                        </div>
                        <br />
                        <div>

                            <h2 class="site-primary-title display-6">@x.Title</h2>
                            <br />
                            <label>@x.Content</label>

                        </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>
}