@model P2_BurgerMenu.Entities.Product
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adding new product</h4>
            <form method="post">
                <label>Product Name</label>
                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                <br />
                <label>Product Price</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                <br />
                <label>Product Picture URL</label>
                @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
                <br />
                <label>Product Category</label>
                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                <br />
                <label>Product Description</label>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Add Product</button>
            </form>
        </div>
    </div>
</div>
